/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

body {
    background-color: #bdc3c7;
}

.profil {
  width : 250px;
  background-color: #31363b;
  color : whitesmoke;
  box-shadow : 1px 1px 4px #31363b; 
}

.hlavicka{
  position: relative;
}
.foto{
  width : 250px;
}
.logo{
  position : absolute;
  background-color: #b92e81;
  border-radius: 50%;
  left: 180px;
  top: 140px;
  box-shadow : 1px 1px 1px 1px #31363b; 
}

.obsah {
  font-family: 'Source Sans Pro';
  font-size: 0.9em;
  padding : 15px;
}
.obsah h1 {
  font-family: 'Montserrat' ;
  font-size: 1.5em;
  font-weight: bold;
}

.odkazy {
  padding:0;
  background-color: #31363b;
  margin:0;
 }
.odkazy li{
  display: inline-block;
}
.odkazy a{
   color : whitesmoke;
   text-decoration: none;
   padding: 1em;
   display: block;
   text-align: center;
   font-family: 'Montserrat' ;
   text-transform: uppercase;
   font-size: 0.8em;
}

.odkazy li.portfolio {
  width : 250px;
  border-top: 1px solid #3f464d;
  border-bottom: 1px solid #3f464d;
}
.portfolio a:hover,
.portfolio a:focus {
  background-color: #e74c3c;
}

.odkazy li.facebook {
  width : 50%;
  border-right: 1px solid #3f464d;
}
.facebook a:hover,
.facebook a:focus {
  background-color: #3b5998;
}

.odkazy li.twitter {
  width : 50%;
}
 .twitter a:hover,
 .twitter a:focus {
   background-color: #1da1f2;
 }
